<mat-nav-list>
    <div class="profile-card">
        <div>
            <h2 mat-subheader>Welcome USERID!</h2>
        </div>
    </div>
    <mat-divider></mat-divider>
    <h2 mat-subheader>Pages</h2>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/">Dashboard</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/health">Health</a>
    <!-- <a mat-list-item routerLinkActive="list-item-active" routerLink="/articles">Articles</a> -->
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/form">Form</a>
    <!-- <a mat-list-item routerLinkActive="list-item-active" routerLink="/urlredirects">Url Redirects</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/certificatedashboard">Certificate Dashboard</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/laniddashboard">LanID Dashboard</a> -->
    <mat-divider></mat-divider>
    <h2 mat-subheader>Tools</h2>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/">
        <mat-icon>import_contacts</mat-icon>
        Contacts
    </a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/">
        <mat-icon>contact_phone</mat-icon>
        Leads
    </a>
  </mat-nav-list>


  